@{
    ViewBag.Title = "Learn english by subtitle";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css">
}

<div class="slider">
    <div class="block_h1">
        <h1>Learn English by subtitle</h1>
    </div>
    <div class="center_content_block">
        <div id="block_content_left" class="block_content">
            <img class="slide_image" src="#" alt="Slide image left">
        </div>
        <div id="block_content_right" class="block_content">
            <img class="slide_image" src="#" alt="Slide image right">
        </div>
    </div>
    <div class="slider_dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>
<script src="~/js/index.js"></script>

<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />