@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
    string previousUrl = (string)TempData["PreviousUrl"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/error.css">
}

<script src="/js/error.js"></script>

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>Please try again or adjust the request parameters.</p>
    <p>You will be automatically redirected to the main page in a <span id="countdown">5</span> second.</p>

    @if (!string.IsNullOrEmpty(previousUrl))
    {
        <script>
            // Calling the function for automatic redirection after 5 seconds.
            startCountdown();
            redirectTo('@previousUrl', 5000);
        </script>
    }
    else
    {
        <script>
            // Calling the function for automatic redirection after 5 seconds.
            startCountdown();
            redirectTo('@previousUrl', 5000);
        </script>
    }
</div>
