/* Indicate box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove inner margins */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove outer margins */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Setting default basic styles for the body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove default styling for all ul and il elements with a class attribute. */
ul[class],
ol[class] {
    list-style: none;
}

/* Resetting elements a without a class to default styles. */
a:not([class]) {
    text-decoration-style-ink: auto;
}

/* Simplifying image handling */
img {
    max-width: 100%;
    display: block;
}

/* Specify a clear periodicity in the data stream for the article */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people who prefer not to use them. */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
