.block_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 30%;
    width: 100%;
}

h1, h2 {
    color: white;
    text-shadow: -1px -1px 0 black, /* Top-left contour */
    1px -1px 0 black, /*Top-right contour*/
    -1px 1px 0 black, /*Bottom-left contour*/
    1px 1px 0 black; /*Bottom- right contour*/
}

.search_result {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 100px 200px;
    border: 2px solid white;
}

.search_container_h2_table {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    /*border: 15px solid green;*/
}

#search_container_h2_table1 {
    border-bottom: 1px solid white;
}

#search_container_h2_table2 {
    border-top: 2px solid white;
    margin: 30px 0 0 0;
}

.search_result_block_title {
    margin: 4px 0 0 0;
}

table {
    width: 100%;
    table-layout: fixed;
}

tr {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    /*border: 3px solid white;*/
}

td {
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    color: white;
    text-shadow: -1px -1px 0 black, /* Top-left contour */
    1px -1px 0 black, /*Top-right contour*/
    -1px 1px 0 black, /*Bottom-left contour*/
    1px 1px 0 black; /*Bottom- right contour*/
    /*border: 3px solid green;*/
}

.td_left {
    flex: 0 0 auto;
    text-align: left;
    padding-left: 100px;
}

.td_right {
    flex: 1 0 0;
    text-align: left;
    padding-left: 50px;
}

.tr_active:hover {
    background-color: lightgray;
    cursor: pointer;
}

.search_container_h2_table::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}

.search_container_h2_table::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}
