.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    margin: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: 1px solid black;
}

.form_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 2;
    width: 100%;
    height: auto;
    /*border: 3px solid yellow;*/
}

.form_h1 {
    /*    border: 3px solid white;*/
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 5;
    width: 100%;
    height: auto;
    /*border: 3px solid black;*/
}

.form_forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 1;
    width: 74%;
    height: auto;
    margin: 10px 0 0 0;
    /*border-top: 1px solid black;*/
    /*border: 3px solid red;*/
}

.form_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-grow: 1;
    width: 74%;
    height: auto;
    margin: 0px 0 15px 0;
    /*border-top: 1px solid black;*/
    /*border: 3px solid red;*/
}





.form_email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /*border: 3px solid green;*/
}

.form_password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 10px 0 0 0;
    /*border: 3px solid white;*/
}

.form_remember {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 75%;
}

.form_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin: 40px 0 0 0;
    /*border: 3px solid green;*/
}

.fields {
    height: 100%;
    width: 74%;
    border-radius: 5px;
    text-indent: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
}

.button {
    height: 100%;
    width: 74%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid black;
    color: white;
}

.text_link {
    text-decoration: none;
}
